<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>enter yout IP here</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUsageDescription</key>
	<string>We need your location to find nearby fuel stations</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>API_KEY</key>
		<string>enter key</string>
		<key>BUNDLE_ID</key>
		<string>enter bundle</string>
		<key>GCM_SENDER_ID</key>
		<string>enter gcm</string>
		<key>GOOGLE_APP_ID</key>
		<string>enter google app id</string>
		<key>IS_ADS_ENABLED</key>
		<false/>
		<key>IS_ANALYTICS_ENABLED</key>
		<false/>
		<key>IS_APPINVITE_ENABLED</key>
		<true/>
		<key>IS_GCM_ENABLED</key>
		<true/>
		<key>IS_SIGNIN_ENABLED</key>
		<true/>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>PROJECT_ID</key>
		<string>fuelfinder360</string>
		<key>STORAGE_BUCKET</key>
		<string>fuelfinder360.appspot.com</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
</dict>
</plist>
